html
    head 
        title URL_Shortnener 
        h1 You will be shortly redirected to ... #{url}
        meta(property="og:description" content=description)
        meta(property="og:image" content=image)
        meta(property="og:url" content=url)
        meta(property="og:title" content=title)
        meta(http-equiv="Refresh" content=redirect_content)
        

        
